@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --primary: #343541;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-div {
  display: flex;
  flex-direction: row;
}

.desktop-nav {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
  height: 100vh;
  padding: 10px;
  position: relative;
}

.logo {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  padding: 5px;
}

.desktop-nav .previous-chat:hover {
  background-color: rgba(63, 63, 63, 0.616);
  cursor: pointer;
}

.new-chat-inner {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.new-chat-outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 8px;
}

.pen-icon {
  color: white;
  height: 18px;
  width: 18px;
}

.month {
  color: rgb(102, 102, 102);
  font-size: 12px;
  padding-bottom: 5px;
}

.previous-chat {
  color: white;
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  padding: 9px 12px;
  border-radius: 5px;
}

.october,
.august,
.july,
.may {
  margin: 6px 5px;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: black;
}

.upgrade {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  padding: 5px 15px;
}

.upgrade:hover {
  background-color: rgba(63, 63, 63, 0.616);
  cursor: pointer;
  border-radius: 5px;
}

.upgrade-icon {
  color: white;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  padding: 5px;
  border: 1px solid rgb(122, 122, 122);
}

.upgrade-text p {
  margin: 0;
  color: white;
  font-size: 12px;
  display: flex;
  padding: 2px 0;
  flex-direction: column;
  white-space: nowrap;
  border-radius: 5px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 4px 0;
  padding: 7px 15px;
}

.user:hover {
  background-color: rgba(63, 63, 63, 0.616);
  cursor: pointer;
  border-radius: 5px;
}

.user-image {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.username {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}

.mobile-nav {
  display: none;
}

.hamburger {
  color: white;
  height: 18px;
  width: 18px;
}

header {
  position: relative;
}

main {
  position: relative;
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  width: 100%;
  height: 100vh;
}

.heading {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
  max-width: max-content;
  gap: 4px;
}

.heading:hover {
  cursor: pointer;
  background-color: #2e303b;
}

.heading-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.heading-title span {
  color: #999999;
}

.chevron-down-icon {
  color: white;
  height: 18px;
  width: 18px;
}

.input-position {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  width: 100%;
}

.input-div input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.input-div input::placeholder {
  color: #999999;
  font-size: 14px;
}

.input-div input:focus {
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 12px;
  border: 1px solid rgba(122, 122, 122, 0.555);
  border-radius: 15px;
  max-width: 760px;
  width: 100%;
  margin: 7px 5px;
}

.arrow-up-icon {
  height: 28px;
  width: 28px;
  background-color: rgba(88, 88, 88, 0.555);
  border-radius: 7px;
}

.decl {
  color: rgb(189, 189, 189);
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.suggestions {
  border: 1px solid rgba(122, 122, 122, 0.555);
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
}

.suggestions:hover {
  cursor: pointer;
  background-color: #40414f;
}

.gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 760px;
  width: 100%;
}

.stitle {
  font-size: 14px;
  color: rgb(189, 189, 189);
  margin: 0;
  padding-top: 5px;
  font-weight: bold;
}

.sdesc {
  font-size: 12px;
  color: rgb(126, 126, 126);
  margin: 0;
  padding: 5px 0;
}

.hero-logo {
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  padding: 10px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main-div {
    flex-direction: column;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343541;
    color: white;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.555);
    padding: 4px 13px;
    font-size: 14px;
  }
  .heading {
    margin-top: 38px;
  }
  .none {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .gridbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
